body {
  font-size: 1em;
  font-family: $font-body;
  line-height: 1.5;
}

.layout-container {
  @include container($x-large);
  padding: 0 5%;
}

header[role="banner"] {
  font-size: 75%;

  // Site logo.
  img {
    @include span(8);
    margin-top: 1em;
  }
}

.region-navigation {
  @include full();
  margin: 1em 0;
}

main {
  clear: both;
  font-size: 75%;
}

footer {
  @include full();
  font-size: 75%;
}

article {
}

aside {
}

img {
  max-width: 100%;
  height: auto;
}

// Medium.
@include breakpoint($medium) {
  .layout-container {
    padding: 0 2%;
  }

  header[role="banner"] {
    @include span(4);
  }

  .region-navigation {
    @include span(8 last nest);
    position: relative;
    top: -4em;

    nav {
      ul.menu {
        @include full();
      }
    }

    .search-block-form {
      @include full();
    }
  }
}

// Large.
@include breakpoint($large) {
  header[role="banner"] {
    @include span(4);
  }

  .region-navigation {
    @include span(8 last nest);
    position: relative;
    top: -3em;

    nav {
      ul.menu {
        @include span(5 first);
      }
    }

    .search-block-form {
      @include span(3 last);
      position: relative;
      top: -3em;
    }
  }
}
