// Colours.
$red: red;
$blue: blue;

// Fonts.
$verdana: "Verdana", "Tahoma", "DejaVu Sans", sans-serif;

// Proxies.
$font-body: $verdana;

// Breakpoints.
$small: 20em;
$medium: 48em;
$large: 64em;

