// Colours.
$black: #000;
$blue: blue;
$cap-blue: #00a1d5;

// Fonts.
$verdana: "Verdana", "Tahoma", "DejaVu Sans", sans-serif;

// Font-size.
$fs-1: 110%;

// Proxies.
$font-body: $verdana;
$col-brand-1: $black;

// Breakpoints.
$small: 20em;
$medium: 48em;
$large: 64em;
$x-large: 80em;
