.node--type-contact {
  h1 {
    margin-bottom: 0;
  }
}

.field-name-field-contact-job-title {
  font-weight: bold;
  margin-bottom: 2em;
}

// Medium.
@include breakpoint($medium) {
  .node--type-contact {
    .field-name-field-contact-image {
      @include span(2);
    }

    .field-name-body {
      @include span(9);

      p:first-child {
        margin-top: 0;
      }
    }
  }
}

// Large.
@include breakpoint($large) {
  .node--type-contact {
    .field-name-body {
      @include span(6);
    }
  }
}
